<div class="form-group">
 <%= simple_form_for(@idioma, local: true) do |form| %>
    <%= form.label :nombre, class:'' %>
    <%= form.text_field :nombre, class:'form-control' %>
  

  
    <%= form.button :submit, 'Aceptar', class: "btn btn-dark mt-4" %>
  <% end %>
</div>
