
<div class="s-layout">
<!-- Sidebar -->
<div class="s-layout__sidebar">
  <a class="s-sidebar__trigger" href="#0">
     <i class="fa fa-bars"></i>
  </a>

  <nav class="s-sidebar__nav">
     <ul>
        <li>
           <a class="s-sidebar__nav-link" href="<%= new_libro_path %>">
              <i class="fa fa-book"></i><em>Libros</em>
           </a>
        </li>
        <li>
           <a class="s-sidebar__nav-link" href="#0">
             <i class="fa fa-user"></i><em>Autores</em>
           </a>
        </li>
        <li>
           <a class="s-sidebar__nav-link" href="#0">
              <i class="fa fa-language"></i><em>Idiomas</em>
           </a>
        </li>
     </ul>
  </nav>
   
</div>
<main class="s-layout__content">
        
        <%= yield %>
    </main>
</div>
